* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.container {
    
    margin: 30px;
    text-align: center;
}

.imc, .nivelImc {
    display: inline-block;
    width: 45%;
}